.Planting-tab {
    display: flex;
    height: 100vh;
    padding: 40px;
  }

  .Item-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }

  .Section-contents {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Section-titles {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff
  }