.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Home-page {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
  border: solid 2px green;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: sticky;
}

.Home-tab {
  height: 2000px;
  width: 100%;
  display: flex;
  border: solid 2px red;
}